@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.text-style {
  width: 18%;
  line-height: 35px;
}
.text-style-min {
  width: 18%;
}
.image-style {
  margin-right: 14%;
  margin-bottom: 20px;
}
.bgColor {
  background: rgba(247, 247, 245, 1);
}
.searchfield {
  margin-left: 20%;
  height: 95vh;
}
.border {
  border: 1px solid rgba(121, 116, 126, 1);
  width: 80%;
}
.border-round {
  border-radius: 6px;
  color: rgba(142, 51, 255, 1);
  border: 1px solid rgba(142, 51, 255, 1);
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  padding: 0px 70px 0px 20px;
}
.text-color {
  font-weight: 500;
  font-size: 14px;
  color: rgba(142, 51, 255, 1);
}
.searchHistory {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: rgba(99, 115, 129, 1);
}
.reportIssue {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: rgba(142, 51, 255, 1);
  margin-left: 20px;
}
.logout {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  color: rgba(142, 51, 255, 1);
}
.borderBox {
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  background: #fff;
  mix-blend-mode: multiply;
  box-shadow: 0px 26px 86.8px 0px rgba(0, 0, 0, 0.04);
  width: 430px;
  padding: 2%;
}
.textShadow {
  color: #635446;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 34px */
}
.textShadow_ {
  color: #635446;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 34px */
}
.backgroundmg {
  background-image: url("/awardbg.png");
  background-size: cover;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 5%;
}
.heroBg {
  background-image: url("/hero.png");
}
.productCard {
  border-radius: 12px;
  border: 1px solid #d6d6d6;
  background: #fbfbfb;
}
@media (max-width: 600px) {
  .text-style {
    width: 70%; /* or any other alignment you want for mobile devices */
  }
  .text-style-min {
    width: 100%;
  }
  .suggestions-row {
    flex-direction: column;
  }
  .searchfield {
    margin-left: 0%;
    width: 100%;
  }
  .border-round {
    height: 56px;
    width: 92%;
    margin-bottom: 10px;
  }
  .border {
    width: 92%;
  }
  .bgColor {
    width: 85%;
  }
  .heightDiv {
    height: 75vh !important;
  }
  .formGrid {
    margin-top: 200px;
    width: 100%;
  }
  .productSection {
    flex-wrap: wrap-reverse;
  }
}
