@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.text-style {
  width: 18%;
  line-height: 35px;
}
.text-style-min {
  width: 18%;
}
.image-style {
  margin-right: 14%;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .text-style {
    width: 70%; /* or any other alignment you want for mobile devices */
  }
  .text-style-min {
    width: 100%;
  }
}
